@charset "utf-8";
/* CSS Document */
body
{
	background-image: url(3o.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:100% 100%;
	color:#97370C;
}
#banner{
	font-size: 80px;
	text-align: center;
	background-color: none;
}
#h1{
	text-align: center;
	font-size:35px;
	background-color:#E9FCA5;
	opacity:0.7;
}
#navigation{
	font-size: 20px;
}
#t1
{
	font-size:30px;
    color:darkviolet;
	
}
#container{
	font-size: 40px;
	color:gold;
}
#content{
	font-size:20px;
	color:#E9F942;
}